@import url("gtk-main-lighter.css");

.xfce4-panel {
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px; 
  } 
  
  
  
  #XfcePanelWindowWrapper.xfce4-panel {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0; 
  }  
  
  
  