[Desktop Entry]
Name=GitKraken (on dev)
Comment=Unleash your repo
GenericName=Git Client (on dev)
Exec=/home/antoniosalsi/.local/bin/distrobox-enter  -n dev  --   /usr/share/gitkraken/gitkraken  %U 
Icon=/home/antoniosalsi/.local/share/icons/Zafiro-Icons-Light/apps/scalable/GitKraken.svg
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Development;RevisionControl;
MimeType=text/plain;
StartupWMClass=gitkraken
Path=
Terminal=false
X-XFCE-Source=file:///home/antoniosalsi/.local/share/applications/dev-gitkraken.desktop
