[Desktop Entry]
Version=1.0
Name[en_GB]=Mousepad
Name=Mousepad
Comment[en_GB]=Simple Text Editor
Comment=Simple Text Editor
GenericName[en_GB]=Text Editor
GenericName=Text Editor
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=mousepad --file-forwarding org.xfce.mousepad @@u %U @@
Icon=org.xfce.mousepad
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;TextEditor;GTK;
MimeType=text/plain;application/x-zerosize;
Actions=preferences;
Keywords[en_GB]=Edit;Text;Simple;XFCE;Lightweight;Fast;
Keywords=Edit;Text;Simple;XFCE;Lightweight;Fast;
X-Flatpak=org.xfce.mousepad
X-XFCE-Source=file:///var/lib/flatpak/app/org.xfce.mousepad/x86_64/stable/9628b0b167b37eac5d92654ecc37cc6457906c5c16c39594e2952c074f97e644/export/share/applications/org.xfce.mousepad.desktop

[Desktop Action preferences]
Name[en_GB]=Mousepad Preferences
Name=Mousepad Preferences
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=mousepad org.xfce.mousepad --preferences
