[Desktop Entry]
Type=Application
Name=Okteta
Name[en_GB]=Okteta
GenericName=Hex Editor
GenericName[en_GB]=Hex Editor
Icon=org.kde.okteta
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=okteta --file-forwarding org.kde.okteta @@u %U @@
X-DocPath=okteta/index.html
Terminal=false
StartupNotify=true
StartupWMClass=okteta
X-DBUS-StartupType=Multi
X-DBUS-ServiceName=org.kde.okteta
Categories=Qt;KDE;Utility;X-KDE-Utilities-File;
X-Flatpak=org.kde.okteta
X-XFCE-Source=file:///var/lib/flatpak/app/org.kde.okteta/x86_64/stable/5bf749d49354890c7e6ede4bac9f30d87628c38d979a4b8245933a56ca24f865/export/share/applications/org.kde.okteta.desktop
